{% extends "base/theme.html" %}
{% load sitegate %}
{% block main_content %}

<section id="services">
	<div class="container">
		<div class="row ">
			<h1>sign up</h1>


<p>If you have any questions about this Privacy Policy, please contact us.</p>
			<div class="col-md-6 text-center">
				<div class="my_signin_block">
					<h2 class="section-heading"><a href="{{ location.get_absolute_url }}">Log In</a></h2>
					<h3 class="section-subheading text-muted">Welcome back!</h3>{% sitegate_signin_form %}
				</div>
			</div>
			
			<div class="col-md-6 text-center">
				<div class="my_signup_block">
					<h2 class="section-heading"><a href="{{ location.get_absolute_url }}">Sign Up</a></h2>
					<h3 class="section-subheading text-muted">Get connected to jobs now!</h3>
						{% sitegate_signup_form %}
				</div>
			</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}